* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  /* font-family: 'Nunito', sans-serif; */
font-family: 'Poppins', sans-serif;
}

body{
  background-color:#fff;;

}

/*-----------------------------section 1 -----background--------------------------------*/
#section1{
  height: auto;
  background-color: pink;
}

 @media only screen and (max-width: 959px) {
    #top-right-blue{
      display:none;
    }

    #group-2646{
      display:none;
    }

 }

 @media only screen and (min-width: 960px) {

   #top-right-blue{
   margin-left: calc(55% - 413.5px);
   margin-top:-780px;
   width: 827px;
   height: 1750px;
   opacity: 1;
       background-repeat: no-repeat;
       background-image: url(../images/blue-background.svg);
       background-position: bottom;
       background-size:contain;
   transform: rotate(-90deg);

       /* border:3px solid red; */
   }

   #group-2646{
         width: 866px;
         height: 830px;
         opacity: 1;
         background-repeat: no-repeat;
         background-image: url(../images/group-2646.svg);
         background-position: center;
         background-size:contain;
         margin-top:780px;
         transform: rotate(90deg);
         margin-left:-400px;

         /* border:3px solid green; */
         position:absolute;
         z-index: 1;
   }

 }

/*-----------------------------section 1 -----------background--------------------------*/

/*------------------------------section 1 article------------------------------*/
/*-----------------mobile---------------------*/

@media only screen and (max-width: 959px) {
  #section1 article{
display: block;
  }

  #section1-content h1{
  text-align: left;
    margin-left:30px;
  font-weight: bold;
  font-size: 3rem;
  color:#5959FF;
  }

  #section1-content p:nth-of-type(1){
      text-align: left;
    margin-left:calc(50% - 139px);
    font-weight: bold;
    font-size: 2rem;
      line-height: 30px;
      margin-top: 1.5em;
  }

  #section1-content p:nth-of-type(2){
      text-align:left;
      margin-left:calc(50% - 139px);
    font-weight: bold;
    font-size: 2rem;
    line-height: 30px;
  }

  #section1-content p:nth-of-type(3){
      text-align:left;
    margin-left:calc(50% - 139px);
    margin-top: 1.5em;
  }

  #section1-content p:nth-of-type(4){
      text-align: left;
        margin-left:calc(50% - 139px);
    margin-bottom: 1.5em;
  }

  form{
    /* border:3px solid yellowgreen; */
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
      margin-left:calc(50% - 139px);
      margin-right:calc(50% - 139px);
  }

form input{
  width: 278px;
  height: 55px;
  box-shadow: 10px 10px 20px #00000029;
border: 2px solid #5959FF;
border-radius: 10px;
opacity: 1;
margin-bottom: 1em;
}

form button{
  width: 152px;
height: 55px;
/* UI Properties */
background: #5959FF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 20px #00000029;
border-radius: 10px;
opacity: 1;
color:white;
border:none;
}

#section1-screen2{
  display:none;
}

}
/*-----------------mobile---------------------*/

/*-----------------screen--------------------*/

@media only screen and (min-width: 960px) {
  #section1 article{
  /* border:3px solid magenta; */
     width:70%;
     margin-left:100px;

    margin-top: -875px;
    display:flex;

    position: relative;
    height: 90vh;
  }

  #section1-content h1{
    text-align: left;
    font-weight: bold;
    font-size: 5rem;
    color:#5959FF;
    }

    #section1-content p:nth-of-type(1){
        font-weight: bold;
        font-size: 3rem;
        margin-top: 3em;
          line-height: 50px;
         text-align: left;
      }

      #section1-content p:nth-of-type(2){
        font-weight: bold;
        font-size: 3rem;
        line-height: 50px;
          text-align:left;
      }

      #section1-content p:nth-of-type(3){
        margin-top: 3em;
         text-align:left;
      }

      #section1-content p:nth-of-type(4){
        margin-bottom: 3em;
         text-align:left;
      }

      form input{
        width: 278px;
        height: 55px;
        box-shadow: 10px 10px 20px #00000029;
      border: 2px solid #5959FF;
      border-radius: 10px;
      opacity: 1;
      margin-bottom: 1em;
      }

      form button{
        width: 152px;
      height: 55px;
      /* UI Properties */
      background: #5959FF 0% 0% no-repeat padding-box;
      box-shadow: 10px 10px 20px #00000029;
      border-radius: 10px;
      opacity: 1;
      color:white;
      border:none;
      }


#section1-screen2{
  width: 384px;
  height: 754px;

  background-repeat: no-repeat;
  background-image: url(../images/screen2.png);
  background-position: center;
  background-size: contain;

  position:absolute;
  z-index: 2;
  margin-left:73%;


}

}

/*-----------------screen--------------------*/
/*------------------------------section 1 article------------------------------*/
